body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b1f2d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.hello{

color: white;
text-align: center;
font-size: 45px;
text-transform: uppercase;
text-decoration: underline;
font-family: 'Hammersmith One', sans-serif;;

}

/* hover on bio Data */
.hello:hover{

color: #eeb700;
cursor: pointer;


}


.ques{

  display: flex;
  flex-direction: column;
  color: #eeb700  ;
  flex-wrap: nowrap;
  
}

.ans{
  
  display: flex;
  flex-direction: column;
  color:white  ;
  margin: 0px 0px 0px 125px;
  flex-wrap: nowrap;
  
  
}

.main{
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.fullname{

text-decoration: underline ;
cursor: pointer;
text-transform: capitalize ;

}


/* hover on  Name && Fname  */
.fullname:hover{

  color: #eeb700;
  cursor: pointer;
  
  
  }
  